@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

div, body, h1, p, ul, li
{
    margin: 0;
    padding: 0;
}


body {
    background: #2f3136;
}

.darkHead
{
    position: fixed;
    z-index: 100;
    width: 100%;
    min-width: 768px;
    height: 64px;
    background-color: #2f3136;
    border-bottom: 0px solid #222427;
    box-shadow: 0 2px 0 rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0 2px 0 rgb(0 0 0 / 10%);
}

.blue_button {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-color: #7289da;
    background: #7289da;
    line-height: 32px;
    float: left;
    height: 32px;
    margin-left: 5px;
    width: 150px;
    padding: 0;
    margin: 16px 0 0 16px;
}

.link_title
{
    background: url(https://raw.githubusercontent.com/reflection1921/KakaoStory-Enhanced/main/images/logo_kseh_dark.png);
    width: 144px;
    height: 27px;
    display: block;
    margin: 20px 0 0 16px;
}

.title
{
    float: left;
    width: 170px;
    height: 64px;
}

.dark_content {
    padding: 65px 260px 0 0;
    position: relative;
}

.content_list {
    position: relative;
    width: 578px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.content_section {
    position: relative;
    min-height: 100px;
    margin: 19px auto 0;
    padding: 40px 40px 0;
    background-color: #36393f;
    border-bottom: 0px;
    -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}

.profileImage {
    height: 56px;
    float: left;
}

.profileImage a {
    position: relative;
    width: 56px;
    height: 56px;
    background-position: -62px -119px;
    border-radius: 56px;
}

.profileImage>a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-image: url(profile.png);
}

.profileImage>a img {
    position: absolute;
}

img {
    border: 0 none;
    vertical-align: top;
}

.profile_name {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 2px;
}

body {
    font-family: 'Noto Sans KR', 'Nanum Gothic';
}

em {
    font-style: normal;
    font-weight: 400;
}

.sub_name {
    color: #afb0b2;
    font-size: 12px;
    float: left;
}

.profile_container {
    padding-left: 12px;
    margin-top: 10px;
    float: left;
    width: 428px;
}

.content_container {
    color: #dcddde;
    word-break: break-all;
    clear: both;
}

.content_text {
    overflow: hidden;
    padding-top: 17px;
    padding-bottom: 17px;
    line-height: 22px;
    word-break: break-all;
    font-size: 14px;
}

.left_bar {
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    height: 100%;
    width: 258px;
    border-left: 0px;
    background-color: #292b2f;
}

.inner_left_bar {
    position: relative;
    width: 100%;
    height: 100%;
}

.left_bar_profile_box {
    padding-top: 80px;
    margin: 0 15px;
}

.left_profile_thumb {
    height: 121px;
    padding-top: 18px;
    text-align: center;
}

.left_profile_image {
    display: block;
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: 0 auto 9px;
    background-position: -60px -115px;
    border-radius: 60px;
}

.left_name {
    display: block;
    overflow: hidden;
    width: 100%;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -1px;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
}

.left_tab {
    width: 100%;
    height: 40px;
}

dl, li, menu, ol, ul {
    list-style: none;
}

.left_tab_item {
    float: left;
    width: 86px;
}

.left_tab_item_apps {
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    line-height: 38px;
    font-weight: 700;
    display: block;
    position: relative;
    width: 86px;
    height: 38px;
    z-index: 1;
    padding-left: 0;
    background: #36393f;
}

.left_tab_item_selected {
    left: 0;
    background-color: #7289da;
    right: -1px;
    top: 37px;
    height: 2px;
    position: absolute;
}

.left_tab_item_n_selected {
    left: 0;
    background-color: #36393f;
    right: -1px;
    top: 37px;
    height: 2px;
    position: absolute;
}

.left_app_list {
    display: block;
    background-color: #36393f;
    position: relative;
    overflow: hidden;
    width: 258px;
    height: 100%;
    margin-top: -3px;
}

.app_list_title {
    overflow: hidden;
    width: 100%;
    height: 40px;
    color: #dcddde;
    text-decoration: none;
    display: block;
    padding: 0 15px;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
    float: left;
}

.app_list_content_title {
    overflow: hidden;
    width: 100%;
    height: 40px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    float: left;
}

.left_app_content {
    position: relative;
    margin-bottom: 12px;
}

.left_app_content_cate {
    display: block;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
    padding: 0 60px 0 62px;
}

.left_app_thumb {
    position: absolute;
    left: 15px;
    top: 0;
    width: 38px;
    height: 38px;   
}

.left_app_thumb_inner {
    overflow: hidden;
    position: relative;
    background-position: -210px 0;
    border-radius: 60px;
    width: 38px;
    height: 38px;
}

.left_app_name {
    display: block;
    height: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    word-spacing: -4px;
    color: #8e9297;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    word-spacing: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content_image {
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    margin-bottom: -12px;
}

.content_image_inner {
    position: absolute;
}

.content_image_real {
    display: block;
    overflow: hidden;
    position: relative;
}